@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body { 
    background-image: url(./Imagenes/fondo.png);
    background-attachment: fixed;
    overflow: scroll;
}

header { 
    margin: auto;
    padding: 50px;
    width: 515px;
    height: 96px;
    left: 580.16px;
    top: 10.14px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 74%; 
    left: 150px;
    top: 290px;
    padding: 40px;
    position: absolute;
    background-image: url(./Imagenes/welcome.png);
    border-radius: 50px;
    height: 193px;
}

.imagePikachu {
   position: absolute;
   left: 800px;
   top: 205px; 
}

.pokeTitle {
    font-size: 50px;
    font-family:'Bungee', cursive;
}

.userTitle {
    font-size: 35px;
    font-family: 'Mouse Memoirs';
}

#containerPokemon {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    position: absolute;
    left: 150px;
    top: 600px;
    width: 80%;
}


div.pokeDiv  {
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    margin: 10px;   
    border-radius: 10px;  
    width: 240px;
    height: 240px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pokeImg {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}

.pokeName {
    color: white;
}

h3{
    font-family: 'Bungee', cursive;
    color: rgb(30, 2, 10);
}

h4{
    font-family: 'Bungee', cursive;
}
