@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


body { 
    background-image: url(./Imagenes/fondo.png);
}

.title { 
    color: #FFFF;
    position: absolute;
    left: 500.16px;
    top: 10.14px;
    font-family:'Bungee', cursive;
    font-size: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 74%; 
    left: 150px;
    top: 290px;
    padding: 40px;
    position: absolute;
    background-image: url(./Imagenes/welcome.png);
    border-radius: 50px;
}

.imagePikachu {
   position: absolute;
   left: 980px;
   top: 205px; 
}

.pokeTitle {
    font-size: 50px;
    font-family:'Bungee', cursive;
}

.userTitle {
    font-size: 35px;
    font-family: 'Mouse Memoirs';
}

#containerPokemon {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    position: absolute;
    left: 150px;
    top: 600px;
    width: 80%;
}


div.pokeDiv  {
    background-color: rgba(249, 241, 241, 0.2);
    backdrop-filter: blur(4px);
    margin: 10px;   
    border-radius: 10px;  
    width: 280px;
    height: 320px;
}

.pokeImg {
    
    width: 150px;
    height: 150px;
}

.pokeName {
    color: white;
}

