@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body { 
    background-image: url(./Imagenes/fondo.png);
    background-attachment: fixed;
    overflow: scroll;
}

header { 
    margin: auto;
    padding: 50px;
    width: 515px;
    height: 96px;
    left: 580.16px;
    top: 10.14px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 71%; 
    left: 150px;
    top: 200px;
    padding: 40px;
    position: absolute;
    background-image: url(./Imagenes/welcome.png);
    border-radius: 50px;
    height: 193px;
}

.imagePikachu {
   position: absolute;
   left: 780px;
   top: 114px; 
}

.pokeTitle {
    font-size: 50px;
    font-family:'Bungee', cursive;
}

.userTitle {
    font-size: 35px;
    font-family: 'Mouse Memoirs';
}

#containerPokemon {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    position: absolute;
    left: 150px;
    top: 650px;
    width: 80%;
}

div.pokeDiv  {
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(2px);
    margin: 10px;   
    border-radius: 10px;  
    width: 240px;
    height: 240px;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(211, 211, 216, 0.40);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.pokeImg {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}

h3{
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    color: rgb(202, 196, 196);
}

h4{
    font-family:'Staatliches', cursive;
    font-size: 20px;
    margin-top: -10%;
}

 .logo {
    width: 390px;
    height: 70px;
    margin-left: 70px;
} 
#generation {
    border-radius: 10px;
    width: 17%;
    height: 40px;
    margin-left: 160px;
    margin-top: 290px;
    background-color: rgb(218, 249, 255);
    backdrop-filter: blur(2px);
    font-family: 'Staatliches', cursive;
    font-size: medium;
    text-align-last: center;
}

#type {
    border-radius: 10px;
    width: 17%;
    height: 40px;
    align-items: center;
    margin-left: 40px;
    margin-top: 290px;
    background-color: rgb(218, 249, 255);
    backdrop-filter: blur(2px);
    font-family: 'Staatliches', cursive;
    font-size: medium;
    text-align: center;
} 

#weaknessPokemon {
    border-radius: 10px;
    width: 17%;
    height: 40px;
    align-items: center;
    margin-left: 40px;
    margin-top: 290px;
    background-color: rgb(218, 249, 255);
    backdrop-filter: blur(2px);
    font-family: 'Staatliches', cursive;
    font-size: medium;
    text-align-last: center;
} 

#pokemonRarity {
    border-radius: 10px;
    width: 17%;
    height: 40px;
    align-items: center;
    margin-left: 40px;
    margin-top: 290px;
    background-color: rgb(218, 249, 255);
    backdrop-filter: blur(2px);
    font-family: 'Staatliches', cursive;
    font-size: medium;
    text-align-last: center;
} 

.option {
    font-family:  'Staatliches', cursive;
}

#sortMenu {
    border-radius: 10px;
    width: 300px;
    height: 38px;
    background-color: rgb(218, 249, 255);
    backdrop-filter: blur(2px);
    font-family: 'Staatliches', cursive;
    font-size: medium;
    text-align-last: center;
    margin-left: 40%;
    margin-top:25px;
} 